body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

.body-container {
    width: 100%;
    height: 100vh;
    background-color: #fafbfc;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.body-container:before {
    content: '';
    width: 30%;
    height: 100vh;
    background-color: #673AB7;
    position: absolute;
    left: 0px;
    top: 0px;
}

.body-container .left-bar {
    width: 280px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.left-bar .address-container {
    z-index: 10;
    justify-content: space-between;
    display: flex;
    flex-flow: column wrap;
    margin: 10% 0% 10% 10%;
    overflow: hidden;
    height: 100vh;
}

.left-bar .address-container h1 {
    margin: 0px;
    color: white;
    font-size: 40px;
    font-family: 'Great Vibes', cursive;
}

.body-container .right-bar {
    width: calc(100% - 280px);
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
label .menu {
      position: absolute;
    right: 0px;
    top: 0px;
    z-index: 100;
    width: 100px;
    height: 100px;
    background: #f9f9f9;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #f9f9f9, 0 0 0 0 #f9f9f9;
    cursor: pointer;
}
label .hamburger {
  position: absolute;
    top: 50px;
    left: 37px;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}
label .hamburger:before {
  top: -10px;
}
label .hamburger:after {
  bottom: -10px;
}
label input {
  display: none;
}
label input:checked + .menu {
  box-shadow: 0 0 0 100vw #f9f9f9, 0 0 0 100vh #f9f9f9;
  border-radius: 0;
}
label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  bottom: 0;
}
label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}
label input:checked + .menu + ul {
  opacity: 1;
}
label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
}
label a {
  margin-bottom: 1em;
  display: block;
  color: #000;
  text-decoration: none;
}

.logo {
    position: relative;
    left: 0px;
    top: 0px;
}

.social-block p {
    margin: 0px;
    margin-bottom: 15px;
    color: white;
    font-weight: 300;
    line-height: 1.8;
}

.social-link p {
    margin-bottom: 0px;
}

.right-bar .img {
    z-index: 10;
    width: 50%;
    height: 100vh;
    position: relative;
}

.right-bar .img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
    box-shadow: 30px 20px 100px 20px rgba(0, 0, 0, 0.18);
}

.right-bar .info-container {
    z-index: 10;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-bar .info-container h1 {
    font-size: 40px;
    margin: 0px;
    color: black;
    position: relative;
    font-weight: 600;
}

.info-container h1:before {
    content: '';
    position: absolute;
    left: -90px;
    height: 4px;
    width: 80px;
    top: 20px;
    background-color: #673AB7;
}

.details-box {
    padding: 10%;
}

.info-container .animate-text, .info-container span {
    color: #673AB7;
    font-size: 20px;
    font-weight: 500;
}

.desc {
    display: block;
    line-height: 2;
    color: gray;
    margin-top: 30px;
}

.links {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-start;
}

.links a {
    display: block;
    padding: 20px 50px;
    border-radius: 35px;
    border: 1px solid #673AB7;
    text-decoration: none;
    color: #673AB7;
    box-shadow: 12px 15px 20px 0 rgba(46,61,73,.15);
    transition: all .3s ease;
}

.links a:hover {
    box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

.links a:first-child {
    background-color: #673AB7;
    color: white;
    margin-right: 30px;
}

ul.list {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 10px;
}

ul.list li {
    list-style: none;
}

ul.list li a {
    display: block;
}

.typed-cursor {
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
